<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="fr.softeam.cameldesigner.impl.CamelDesignerModule" binaryversion="4.0.0" version="${project.version}" schema-level="2" uid="dc1688c2-8bd2-4585-a786-b1b5877996d7" author="Softeam" image="" url="">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="28a1b85d-93b2-47f7-845a-f4883b71ded5" id="CamelModelProfile">
            <Stereotype name="CamelModel" metaclass="Standard.Package" owner-stereotype="" is-hidden="false" label="%stereotype.CamelModel.label" uid="e33cb0ef-7003-4579-8739-638c171ab891" is-abstract="false">
                <Icon path="res/icon/gui/cropped-camel_logo_24.png"/>
                <Image path="res/icon/gui/cropped-camel_logo_48.png"/>
            </Stereotype>
            <Stereotype name="NamedElement" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.NamedElement.label" uid="f81fdaa1-17e1-49a4-bf1f-60c18563c100" is-abstract="true">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Attribute" metaclass="Standard.Class" owner-stereotype="mref#'' {f81fdaa1-17e1-49a4-bf1f-60c18563c100} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.Attribute.label" uid="b062f4ef-e492-4b34-9caa-bdd63d717cb9" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Feature" metaclass="Standard.Class" owner-stereotype="mref#'' {f81fdaa1-17e1-49a4-bf1f-60c18563c100} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.Feature.label" uid="1ff10997-aa56-4f9b-b413-f32fadcc29bb" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MmsObject" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.MmsObject.label" uid="c4338cbc-5ce1-4780-bd11-37d1cfa45d23" is-abstract="true">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MmsProperty" metaclass="Standard.Class" owner-stereotype="mref#'' {c4338cbc-5ce1-4780-bd11-37d1cfa45d23} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.MmsProperty.label" uid="bbb239eb-2ac2-4ca7-8c08-bb885b5320c2" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="QualityAttribute" metaclass="Standard.Class" owner-stereotype="mref#'' {b062f4ef-e492-4b34-9caa-bdd63d717cb9} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.QualityAttribute.label" uid="ef0c1237-df8a-4bfc-8f0b-d3ad72e39bf4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MeasurableAttribute" metaclass="Standard.Class" owner-stereotype="mref#'' {ef0c1237-df8a-4bfc-8f0b-d3ad72e39bf4} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.MeasurableAttribute.label" uid="41f442d8-cf5f-4e6c-a842-47675cf36361" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
        <Profile uid="87d25481-b81a-4679-9e56-88df8ddc5bc9" id="CamelDiagramsProfile">
            <Stereotype name="CamelModel_ViewPoint" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.CamelModel_ViewPoint.label" uid="e46b07f3-2bf2-48c1-8218-3a31ce9fa75d" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DeploymentType_View" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.DeploymentType_View.label" uid="40a6ab6a-6df9-40b0-a877-d1de85918a7d" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DeploymentInstance_View" metaclass="Standard.ClassDiagram" owner-stereotype="mref#'' {29f998b2-e56f-4569-91af-2f9f90ae29cc} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.DeploymentInstance_View.label" uid="29f998b2-e56f-4569-91af-2f9f90ae29cc" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MetricType_View" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.MetricType_View.label" uid="41062298-9e86-4073-b4a8-713719cfcf90" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MetricInstance_View" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.MetricInstance_View.label" uid="2c556828-cda9-46a9-aa70-4fbdcc3839d4" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Execution_View" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.Execution_View.label" uid="fc779080-0243-43b7-a1e1-9ddf71de93d7" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Location_View" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.Location_View.label" uid="8417972e-6235-45f0-b45e-8f6202da12d9" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Requirement_View" metaclass="Standard.ClassDiagram" owner-stereotype="" is-hidden="false" label="%stereotype.Requirement_View.label" uid="f8879e00-7139-4923-a7ff-67ebdb678e5b" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
        <Profile uid="6d816e3a-22b6-4451-801d-38a800e92932" id="DeploymentModelProfile">
            <Stereotype name="DeploymentTypeModel" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.DeploymentTypeModel.label" uid="24bc0f0f-63bd-4249-8f58-47597e6cae12" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="DeploymentInstanceModel" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.DeploymentInstanceModel.label" uid="6fceb97e-cae8-4dd4-8df0-ca61f6ef110f" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Component" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Component.label" uid="abb7159a-fde4-40d9-8e5e-8f9ad94f2b31" is-abstract="true">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="SoftwareComponent" metaclass="Standard.Class" owner-stereotype="mref#'' {abb7159a-fde4-40d9-8e5e-8f9ad94f2b31} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.SoftwareComponent.label" uid="e66ca9e8-6d1c-46bd-9d9d-e1e16675fada" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="VM" metaclass="Standard.Class" owner-stereotype="mref#'' {abb7159a-fde4-40d9-8e5e-8f9ad94f2b31} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.VM.label" uid="8bd1ea8d-6714-4a3b-9da9-c914064d8440" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="PaaS" metaclass="Standard.Class" owner-stereotype="mref#'' {abb7159a-fde4-40d9-8e5e-8f9ad94f2b31} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.PaaS.label" uid="d0c33c39-75b6-489b-be58-97166b99012b" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="RequirementSet" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RequirementSet.label" uid="513b1519-9560-4cd7-9dd4-f071d5fe54e8" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
        <Profile uid="002a1553-9258-4f57-a0b9-fdcebc63a8ae" id="RequirementModelProfile">
            <Stereotype name="RequirementModel" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.RequirementModel.label" uid="a6bb7236-ef3d-41b8-a879-26c642be9cb8" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="Requirement" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.Requirement.label" uid="f14398cc-a1c7-4953-9874-f7819f1ec4f7" is-abstract="true">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="ResourceRequirement" metaclass="Standard.Class" owner-stereotype="mref#'' {f14398cc-a1c7-4953-9874-f7819f1ec4f7} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.ResourceRequirement.label" uid="4e76597a-e007-4596-abfe-591ce920815d" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="HorizontalScaleRequirement" metaclass="Standard.Class" owner-stereotype="mref#'' {f14398cc-a1c7-4953-9874-f7819f1ec4f7} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.HorizontalScaleRequirement.label" uid="3f58cfed-b308-4059-99be-85d0b3e87e12" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="OptimisationRequirement" metaclass="Standard.Class" owner-stereotype="mref#'' {f14398cc-a1c7-4953-9874-f7819f1ec4f7} Infrastructure.Stereotype" is-hidden="false" label="%stereotype.OptimisationRequirement.label" uid="5032b63e-764b-4afb-8636-29fe5cee73f0" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
        <Profile uid="7b7cc375-db0a-4b93-8d14-6adbc5f5618b" id="MetricModelProfile">
            <Stereotype name="MetricTypeModel" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.MetricTypeModel.label" uid="76545176-b1ff-442f-8629-bc2c4845dbdb" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
            <Stereotype name="MetricInstanceModel" metaclass="Standard.Class" owner-stereotype="" is-hidden="false" label="%stereotype.MetricInstanceModel.label" uid="42ce7273-a709-4cf7-bc51-ac7ee48b9f13" is-abstract="false">
                <Icon path=""/>
                <Image path=""/>
            </Stereotype>
        </Profile>
    </Profiles>
</Module>
